{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block content %}
    <h1>Edit User</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button class="btn btn-primary btn-block-xs-only mb-2 mb-sm-0">Simpan</button>
                <a href="{{ path('profile_show') }}" class="btn btn-secondary btn-block-xs-only mb-2 mb-sm-0">Batal</a>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
