
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

Vagrantparams.yml

provisioning/vars.yml
provisioning/files/my.cnf
provisioning/files/sedekah-reminder.dev.pem
provisioning/files/sedekah-reminder.dev-key.pem
