{% extends 'base.html.twig' %}

{% block title %}Edit Pengingat{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        {% if pengingat.perulangan == constant('PENGINGAT_MINGGUAN', pengingat) %}
            #perulangan-bulanan {
                display: none;
            }
        {% elseif pengingat.perulangan == constant('PENGINGAT_BULANAN', pengingat) %}
            #perulangan-mingguan {
                display: none;
            }
        {% else %}
            #perulangan-mingguan {
                display: none;
            }
            #perulangan-bulanan {
                display: none;
            }
        {% endif %}

        {% if pengingat.selamanya %}
            #fieldTanggalAkhirContainer {
                display: none;
            }
        {% endif %}
    </style>
{% endblock %}

{% block content %}
    <h1>Ubah Pengingat</h1>

    {{ include('pengingat/_form.html.twig', {'button_label': 'Perbarui Pengingat'}) }}

    {{ include('pengingat/_delete_form.html.twig', {'button_class': 'btn-block-xs-only'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        function tampilkanPilihanPerulangan(perulangan) {
            let mingguanHariKe = $('#perulangan-mingguan');
            let bulananHariKe = $('#perulangan-bulanan');

            switch (+perulangan) {
                case 1:
                    mingguanHariKe.hide();
                    bulananHariKe.hide();
                    break;
                case 2:
                    mingguanHariKe.show();
                    bulananHariKe.hide();
                    break;
                case 3:
                    bulananHariKe.show();
                    mingguanHariKe.hide();
                    break;
            }
        }

        $(document).ready(function() {
            let elementFieldSelamanya = $('#pengingat_selamanya');
            let elementTanggalAkhir = $('#fieldTanggalAkhirContainer');

            $(elementFieldSelamanya).click(function() {
                elementTanggalAkhir[this.checked ? 'hide' : 'show']();
            });

            let elementPerulangan = $('#pengingat_perulangan');

            elementPerulangan.change(function() {
                let perulangan = $(this).val();

                tampilkanPilihanPerulangan(perulangan);
            });

            $('.datepicker-tanggalAwal').datepicker();
            $('.datepicker-tanggalAkhir').datepicker();

            let nominalSedekah = document.getElementById('pengingat_nominalSedekah');

            nominalSedekah.addEventListener('keyup', function() {
                nominalSedekah.value = formatRupiah(this.value);
            });

            function formatRupiah(angka) {
                let number_string = angka.replace(/[^,\d]/g, '').toString(),
                    split = number_string.split(','),
                    sisa = split[0].length % 3,
                    rupiah = split[0].substr(0, sisa),
                    ribuan = split[0].substr(sisa).match(/\d{3}/gi);

                if (ribuan) {
                    separator = sisa ? '.' : '';
                    rupiah += separator + ribuan.join('.');
                }

                rupiah = split[1] !== undefined ? rupiah + ',' + split[1] : rupiah;
                return rupiah;
            }
        });
    </script>
{% endblock %}
